<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="connection.url">jdbc:mysql://localhost:3306</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.current_session_context_class">thread</property>

        <property name="connection.username">root</property>
        <property name="connection.password">root</property>

        <mapping resource="com/staff/api/entities/ContactsEntity.hbm.xml"/>
        <mapping class="com.staff.api.entities.ContactsEntity"/>
        <mapping class="com.staff.api.entities.UsersEntity"/>
        <mapping resource="com/staff/api/entities/UsersEntity.hbm.xml"/>
        <mapping resource="com/staff/api/entities/AttachmentEntity.hbm.xml"/>
        <mapping class="com.staff.api.entities.AttachmentEntity"/>
        <mapping resource="com/staff/api/entities/CandidateEntity.hbm.xml"/>
        <mapping class="com.staff.api.entities.CandidateEntity"/>
        <mapping resource="com/staff/api/entities/CandidatecompetenceEntity.hbm.xml"/>
        <mapping class="com.staff.api.entities.CandidatecompetenceEntity"/>
        <mapping resource="com/staff/api/entities/CandidateexperienceEntity.hbm.xml"/>
        <mapping class="com.staff.api.entities.CandidateexperienceEntity"/>
        <mapping resource="com/staff/api/entities/CandidatestateEntity.hbm.xml"/>
        <mapping class="com.staff.api.entities.CandidatestateEntity"/>
        <mapping resource="com/staff/api/entities/ContactdetailsEntity.hbm.xml"/>
        <mapping class="com.staff.api.entities.ContactdetailsEntity"/>
        <mapping class="com.staff.api.entities.ContacttypeEntity"/>
        <mapping resource="com/staff/api/entities/ContacttypeEntity.hbm.xml"/>
        <mapping resource="com/staff/api/entities/FeedbackstateEntity.hbm.xml"/>
        <mapping class="com.staff.api.entities.FeedbackstateEntity"/>
        <mapping class="com.staff.api.entities.InterviewEntity"/>
        <mapping resource="com/staff/api/entities/InterviewEntity.hbm.xml"/>
        <mapping resource="com/staff/api/entities/InterviewfeedbackEntity.hbm.xml"/>
        <mapping class="com.staff.api.entities.InterviewfeedbackEntity"/>
        <mapping class="com.staff.api.entities.RoleEntity"/>
        <mapping resource="com/staff/api/entities/RoleEntity.hbm.xml"/>
        <mapping resource="com/staff/api/entities/SkillEntity.hbm.xml"/>
        <mapping class="com.staff.api.entities.SkillEntity"/>
        <mapping resource="com/staff/api/entities/SuitablestateEntity.hbm.xml"/>
        <mapping class="com.staff.api.entities.SuitablestateEntity"/>
        <mapping resource="com/staff/api/entities/UserEntity.hbm.xml"/>
        <mapping class="com.staff.api.entities.UserEntity"/>
        <mapping class="com.staff.api.entities.UserrolesEntity"/>
        <mapping resource="com/staff/api/entities/UserrolesEntity.hbm.xml"/>
        <mapping resource="com/staff/api/entities/VacancyEntity.hbm.xml"/>
        <mapping class="com.staff.api.entities.VacancyEntity"/>
        <mapping class="com.staff.api.entities.VacancycandidatesEntity"/>
        <mapping resource="com/staff/api/entities/VacancycandidatesEntity.hbm.xml"/>
        <mapping resource="com/staff/api/entities/VacancyrequirementEntity.hbm.xml"/>
        <mapping class="com.staff.api.entities.VacancyrequirementEntity"/>


        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>