<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Scan the JavaConfig -->
	<context:component-scan base-package="com.staff.config,com.staff.exception" />

	<mvc:annotation-driven/>

	<mvc:interceptors>
		<bean class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">
			<property name="paramName" value="lang" />
		</bean>
	</mvc:interceptors>


	<bean id="localeResolver" class="org.springframework.web.servlet.i18n.SessionLocaleResolver">
		<property name="defaultLocale" value="en" />
	</bean>

	<!--<bean id="myDataSource" class="org.apache.commons.dbcp.BasicDataSource"-->
		  <!--destroy-method="close">-->
		<!--<property name="driverClassName" value="com.mysql.jdbc.Driver"/>-->
		<!--<property name="url"-->
				  <!--value="jdbc:mysql://localhost:3306/team6"/>-->
		<!--<property name="username" value="root"/>-->
		<!--<property name="password" value="A2t=A2t="/>-->
	<!--</bean>-->

	<!--&lt;!&ndash; Hibernate 4 SessionFactory Bean definition &ndash;&gt;-->
	<!--<bean id="sessionFactory"-->
		  <!--class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">-->
		<!--<property name="dataSource" ref="getDataSource"/>-->
		<!--<property name="annotatedClasses">-->
			<!--<list>-->
				<!--<value>com.staff.api.entity.User</value>-->
			<!--</list>-->
		<!--</property>-->
		<!--<property name="hibernateProperties">-->
			<!--<props>-->
				<!--<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect-->
				<!--</prop>-->
				<!--<prop key="hibernate.show_sql">true</prop>-->
			<!--</props>-->
		<!--</property>-->
	<!--</bean>-->

</beans>